<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
  <%= link_to 'Go to Database', admin_dashboard_path %>
  <br/>
<% if current_user %>
  <%= link_to 'logout', destroy_user_session_path, method: 'delete' %>
<% else %>
  <%= link_to 'login', new_user_session_path %>
<% end %>
