// Put CSS to override the default CSS for active admin here.

.panel img {
  width: 100%
}

body.active_admin {
  sidebar {
  
    .filter_numeric_range {
      input {
        width: 88px;
      }
      .seperator {
        display: inline-block;
        text-align: center;
        width: 12px;
      }
    }
  }
}